/* TÍTULOS */

h1,h2,h3{
    font-family: Georgia;
    font-size: 30px;
}

h1{
    text-align: center;
    font-style: bold;
}

h2{
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #3f3737;
}

/* FOTOS */

.foto{
    position: absolute;
    top: 67px;
    bottom: 30px;
    left: 30px;
    right: 30px;
}
.besta{
    position: relative;
    size: 300px;
}


/* LINKS */

.item-1{
    position: absolute;
    top: 67px;
    bottom: 500px;
    left: 600px;
    right: 30px;
}
.item-2{
    position: relative;
    top: 90px;
    bottom: 420px;
    left: 610px;
    right: 30px;
}
.item-3{
    position: relative;
    top: 90px;
    bottom: 415px;
    left: 610px;
    right: 30px;
}
.item-4{
    position: relative;
    top: 90px;
    bottom: 410px;
    left: 610px;
    right: 30px;
}
.item-5{
    position: relative;
    top: 90px;
    bottom: 405px;
    left: 610px;
    right: 30px;
}
.item-6{
    position: relative;
    top: 90px;
    bottom: 400px;
    left: 610px;
    right: 30px;
}

.btn{
    position: relative;
    top: 90px;
    bottom: 400px;
    left: 610px;
    right: 30px;
    color: rgb(0, 0, 0);
    background-color: #d8d8d8;
    cursor: pointer;
    border-color: none;
}
.btn-1{
    position: relative;
    top: 1px;
   /* bottom: 80px; */
    margin-bottom: 60px; 
    left: 10px;
    right: 900px;
    color: rgb(0, 0, 0);
    background-color: #d8d8d8;
    cursor: pointer;
}


